@import "tailwindcss";

:root {
  --background: #121212;
  --success: #1DB954;
  --secondary: #1976D2;
  --primary: #0A1F44;
  --text-colour: #F6F6F6;
  --error: #E63946;
}

*{
  outline: none;
}

.scrollbar-hide{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}